<section class="introduction">
	<div class="text-wrapper">
		<h2>Manage links, set <b>password</b> and view <b>stats</b>.</h2>
		<a class="button primary" href="/login">Log in / Sign up</a>
	</div>
	<img src="/images/callout.png" alt="callout image" title="Callout Image" />
</section>

<section class="features">
	<h3>KuaLat edge features.</h3>
	<ul>
		<li>
			<div class="icon">
				{{> icons/edit}}
			</div>
			<h4>Managing links</h4>
			<p>Create, protect and delete your links and monitor them with detailed statistics.</p>
		</li>
		<li>
			<div class="icon">
				{{> icons/like}}
			</div>
			<h4>Easy Customization</h4>
			<p>ShortURL is easy and fast, enter the long link to get your shortened link.</p>
		</li>
		<li>
			<div class="icon">
				{{> icons/secure}}
			</div>
			<h4>Secure</h4>
			<p>It is fast and secure, our service has HTTPS protocol and data encryption.</p>
		</li>
		<li>
			<div class="icon">
				{{> icons/api}}
			</div>
			<h4>API</h4>
			<p>Use the provided API to create, delete, and get URLs from anywhere.</p>
		</li>
	</ul>
</section>